html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    background-color: #dfdad6;
}
.bg-header{
    background-image: url(../IMG/Fondo.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: Sylfaen;
}
.bg-footer{
    background: rgb(234,157,84);
    background: linear-gradient(180deg, rgba(234,157,84,1) 0%, rgba(209,115,20,1) 100%);
}
.bg-card{
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5rem;
}
.text-shadow{
    text-shadow: 6px 9px 12px rgba(0, 0, 0, 0.842);
}
.texto{
    color: #d17314;
}
.titulo{
    color: #72563b;
}
.filter-shadow{
    filter:drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.521));
    border-radius: 1.5rem
}
.zoom {
    transition: transform .5s;
}
.zoom:hover {
    transform: scale(1.1); 
}